<form class="user-form" [formGroup]="form.formGroup" (submit)="save()">
    <mat-form-field>
        <input matInput placeholder="Input" formControlName="firstName">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="LastName" formControlName="lastName">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Email" formControlName="email">
    </mat-form-field>

    <mat-form-field *ngIf="!data">
        <input matInput placeholder="password" type="password" formControlName="password">
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="Select" formControlName="role">
            <mat-option value="SUPER_ADMIN">SUPER_ADMIN</mat-option>
            <mat-option value="APP_USER">APP_USER</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="warn" type="submit">Save</button>
</form>
