<mat-card>
  <mat-card-header>
    <div class="login-container">
      <h1>Log in</h1>
      <form class="login-form" [formGroup]="form.formGroup">
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email">
        </mat-form-field>
        <mat-form-field>
          <input type="password" matInput placeholder="Password" formControlName="password">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="logIn()">Log in</button>
      </form>
    </div>
  </mat-card-header>
</mat-card>
