.upload-header-container {
  display: flex;
  flex-direction: column;
  .upload-header-container-title {

  }
  .file-uploader-container-body {
    .send-btn {
      margin-left: 15px;
    }
  }
}
.files-container {
  .file-view-container {
    .files-list-container {
      .file-list {

      }
      .files-view {

      }
    }
  }
}
